* {
  margin: 0;
}
html, body {
  font-family: 'Raleway', Arial, sans-serif;
  background: #F9F7F6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10%;
  height: 100%;
  color: #404D5B;
  font-size: 1.1em;
}
.full-width {
  width: 100%;
  padding: 10%;
}
#splash {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-top: 10%;
}
#clips {
  background: #F0EFEE;
}
.logo h1 {
  font-weight: bold;
  font-size: 5em;
}
.location {
  color: #E74C3C;
}
.site-name {
  color: #F9F7F6;
  padding: 5px;
  display: inline;
  border: 1px solid #E74C3C;
  background-color: #E74C3C;
}
.site-name-wrap {
  margin-bottom: 10px;
}
.col-md-6 {
    padding-left: 0;
}
a {
  color: #34495E;
  text-decoration: none;
}
a:hover, a:focus {
  color: #34495E;
  text-decoration: underline;
}
#nav-trio h4 {
  border-bottom: .07em solid #000;
}
nav a {
  position: relative;
  display: inline-block;
  outline: none;
  margin-left: -12px;
  font-size: .9em;
}
nav a:hover, nav a:focus {
  outline: none;
}
#clips-content {
  width: 70%;
  background-color: white;
  padding: 10px 20px;
  margin: 0 auto;
  border-top: 5px solid #E74C3C;
}
.accordion a {
  display: block;
}
.accordion__menu:hover,
.accordion__menu:focus {
  cursor: pointer;
  color: #0D1A28;
}
.accordion__items a {
  padding: 5px 0;
}
.accordion__items a:before {
  content: "• ";
  color: #0D1A28;
}
.accordion__items {
  display: none;
}
@media screen and (max-width: 780px) {
  body {
    margin-bottom: 5%;
  }
  .logo h1 {
    font-size: 4.25em;
  }
}
@media screen and (max-width: 768px) {
  #splash {
    text-align: center;
    margin-top: 2%;
  }
  #nav-trio h4 {
    font-weight: bold;
    border-bottom: none;
  }
  .nav-item {
    margin-bottom: 30px;
  }
  #clips-content {
    width: 100%;
  }
  .full-width {
    padding: 0;
  }
  #clips h1, #clips h2{
    text-align: center;
  }
  .col-sm-12 {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .logo h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 480px) {
  .logo h1 {
    font-size: 3em;
  }
  .logo h3 {
    font-size: 1.15em;
  }
}
@media screen and (max-width: 400px) {
  html, body {
    font-size: 1em;
  }
  .logo h1 {
    font-size: 2em;
  }
  .logo h3 {
    font-size: 1em;
  }
}
